.navbar{

    margin-top: 20px;

}

.container-fluid{

    text-align:center;

}

#game-container{

    text-align: center;
    width: 100%;
    height: auto;

}

canvas{

    display: block;
    margin: auto;

}